In [2]:
import pandas as pd

df = pd.DataFrame({
  "Fruit": ["Apples", "Oranges", "Bananas", "Apples", "Oranges", "Bananas"],
  "Contestant": ["Alex", "Alex", "Alex", "Jordan", "Jordan", "Jordan"],
  "Number Eaten": [2, 1, 3, 1, 3, 2],
})
df

     Fruit Contestant  Number Eaten
0   Apples       Alex             2
1  Oranges       Alex             1
2  Bananas       Alex             3
3   Apples     Jordan             1
4  Oranges     Jordan             3
5  Bananas     Jordan             2